.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 50%;
}

img {
  width: 100%;
  padding: 10rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

p {
  font-size: 2rem;
  margin: 0 1rem;
}

.top-menu {
  display: flex;
  justify-content: space-evenly;
}

.bottom-menu {
  display: flex;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem;
  margin: 0 1rem;
}
